﻿<h1>All pokemons</h1>
<div class="all-elements">
  <div class="list" id="list-container">
    <ul>
      <li ng-repeat="(index,el) in content.objects|filter:sort" class="border" id="container{{el.national_id}}" ng-click="pokemonClick(el)">
        <img src="http://pokeapi.co/media/img/{{el.national_id}}.png" class="avatar" />
        <p>{{el.name}}r</p>
        <div class="power-type-elem" ng-repeat="type in el.types">
          <p>{{type.name}}</p>
        </div>
        <div class="favorit-elem">
          <img src="http://pngimg.com/upload/heart_PNG687.png" class="like-icon" ng-class="checkFamousElem(el.name)" style = "cursor: pointer;" ng-click="saveToLocalStorage(el)" id="icon{{el.national_id}}" />
          <button class="like-button" ng-click="showInfo(el,true)">show more</button>
        </div>
      </li>
    </ul>
  </div>
  <div class="elem" id="elem-container" ng-show="flagShowItems">
    <span class="close" ng-click="hideInfo(false)">X</span>
    <div class="elem-box">
      <div class="elem-img"><img ng-src="http://pokeapi.co/media/img/{{selectedItems.national_id}}.png" /></div>
      <p class="name-elem">{{selectedItems.name}} #{{selectedItems.pkdx_id}}</p>
      <div>
        <p>Type: <span ng-repeat="itemType in selectedItems.types">{{itemType.name}} </span></p>
        <p>Attack: {{selectedItems.attack}}</p>
        <p>Defense: {{selectedItems.defense}}</p>
        <p>HP: {{selectedItems.hp}}</p>
        <p>SP attack: {{selectedItems.sp_atk}}</p>
        <p>SP Defence: {{selectedItems.sp_def}}</p>
        <p>Speed: {{selectedItems.speed}}</p>
        <p>Weight: {{selectedItems.weight}}</p>
      </div>
    </div>
  </div>
  <div class="container-button">
    <div class="label-sort">Sort by Type:</div><select ng-model="selectedName" ng-options="item for item in arrTypes" ng-change="showSelectedElem(selectedName)" class="dropdown"></select>
    <button class="add-elements" ng-click="loadMoreElements()">Load More</button>
  </div>
</div>
