<h1>Famous pokemon list</h1>
<div class="all-elements">
  <div class="list" id="list-container">
    <ul>
      <li ng-repeat="val in contentFromLocalStorage | limitTo:endNum:0 | filter : sortFamous" class="border" id="containerFamous{{val.national_id}}" ng-click="clickFamousPokemon(val)">
        <img src="http://pokeapi.co/media/img/{{val.national_id}}.png" class="avatar" />
        <p>{{val.name}}</p>
        <div class="power-type-elem" ng-repeat="type in val.types">
          <p>{{type.name}}</p>
        </div>
        <div class="favorit-elem">
          <img src="http://pngimg.com/upload/heart_PNG687.png" class="like-icon like-icon-active" style = "cursor: pointer;" id="icon{{val.national_id}}" ng-click="deleteFromLocalStorage(val)" />
          <button class="like-button" ng-click="showFamousItems(val,true)">show more</button>
        </div>
      </li>
    </ul>
  </div>
  <div class="elem" id="elem-container" ng-show="flagShowFamousItems">
    <button class="close" ng-click="hideFamousItem(false)">X</button>
    <div class="elem-box">
      <div class="elem-img"><img ng-src="http://pokeapi.co/media/img/{{selectedFamousItems.national_id}}.png" /></div>
      <p >{{selectedFamousItems.name}} #{{selectedFamousItems.pkdx_id}}</p>
      <div>
        <p>Type: <span ng-repeat="i in selectedFamousItems.types">{{i.name}} </span></p>
        <p>Attack: {{selectedFamousItems.attack}}</p>
        <p>Defense: {{selectedFamousItems.defense}}</p>
        <p>HP: {{selectedFamousItems.hp}}</p>
        <p>SP attack: {{selectedFamousItems.sp_atk}}</p>
        <p>SP Defence: {{selectedFamousItems.sp_def}}</p>
        <p>Speed: {{selectedFamousItems.speed}}</p>
        <p>Weight: {{selectedFamousItems.weight}}</p>
      </div>
    </div>
  </div>
  <div class="container-button">
    <div class="label-sort">Sort by Type:</div><select ng-model="selected" ng-options="it for it in arrTypesFamous" ng-change="showFamousSelectedElem(selected)" class="dropdown"></select>
    <button class="add-elements" ng-click="loadMoreFromLocalStorage()">Load More</button>
  </div>
</div>