﻿<!DOCTYPE html>
<html ng-app="pokemonApp">
<head>
  <title></title>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="sass/main.min.css">
</head>
<body>
  <nav class="navigetion" ng-controller="navCntrl">
    <ul class="topnav">
      <li><a href="#/home">Show all pokemon</a></li>
      <li><a href="#/famous">Show famous pokemon</a></li>
      <li class="icon">
        <a href="javascript:void(0);" style="font-size:15px;" ng-click="collapseMenu()"><img src="http://bldg5records.com/public/img/mobile-menu.png" style="height:20px;"/></a>
      </li>
    </ul>
  </nav>
  <div id="center">
    <ng-view></ng-view>
  </div>
  <script src="./libs/angular.min.js"></script>
  <script src="./libs/angular-route.min.js"></script>
  <script src="js/main.js"></script>
</body>
</html>
