﻿$screen-sx: 768px;
$screen-md: 992px;
$screen-lg: 1200px;

.all-elements {
  margin: 0 auto;
  padding: 0;

  ul li {
    list-style: none;
    float: left;
  }

  .border {
    width: 25%;
    margin: 1%;
    border: 2px solid black;
    height: 300px;
    border-radius: 15px;

    .avatar {
      height: 120px;
    }
    //power type elem
    .like-icon {
      height: 20px;
      margin: 5px;
      opacity: 0.7;

      &:hover {
        opacity: 1;
        height: 25px;
      }
    }

    .like-icon-active {
      opacity: 1;
      height: 25px;
      border: 1px double red;
      border-radius: 50px;
    }

    .like-button {
      height: 20px;
      margin: 5px;
      border-radius: 5px;
      border: none;
      background-color: rgba(187, 97, 97, 0.5);
      cursor: pointer;


      &:hover {
        background-color: rgba(241, 12, 12, 0.8);
      }
    }
  }

  .list {
    text-align: center;
    width: 100%;
    background-color: blue;
  }
  //style,when any elemnts click
  .list-elem {
    text-align: center;
    width: 70%;
    height: 100%;
    float: left;
  }

  .elem {
    position: fixed;
    right: 0;
    top: 12%;
    z-index: 999;
    width: 30%;
    height: auto;
    float: left;
    border: 2px solid black;
    border-radius: 5%;
    margin-right: 5%;
    margin-bottom: 5%;

    .elem-box {
      text-align: center;
    }

    .close {
      position: absolute;
      text-align: center;
      width: 25px;
      right: 20px;
      top: 5%;
      border-radius: 50%;
      background-color: rgba(255,0,35,0.12);

      &:hover {
        border: 1px solid rgba(112, 73, 121, 0.94);
      }
    }
  }

  .active {
    background-color: rgba(255, 0, 35, 0.12);
    border: 2px solid rgba(112, 73, 121, 0.94);
  }
}

.container-button {
  width: 100%;
  text-align: center;
  position: fixed;
  z-index: 999;
  bottom: 1%;

  .add-elements {
    margin: 0 auto;
    background-color: #00a087;
    opacity: 0.7;

    &:hover {
      opacity: 1;
    }
  }

  .dropdown {
    width: 80px;
    border: 1px solid #00a087;
    border-radius: 5px;
  }

  .container-button {
    display: inline;
  }
}

@media screen and (max-width:$screen-lg) {
  .all-elements {
    .border {
      width: 35%;
    }
    .elem{
      width:35%

    }
  }
}

@media screen and (max-width:$screen-md) {
   .all-elements {
    .border {
      width: 70%;
    }
    .list-elem{
      display:none
    }
    .elem{
      width:90%

    }
  }
}

@media screen and (max-width:$screen-sx) {
  .all-elements {
    .border {
      width: 80%;
    }
    .list-elem{
      display:none
    }
    .elem{
      width:90%

    }
  }
}
